html {
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}

body {font-size: 25px;
      background-image: url(3274387.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      padding-left: 10px;
      padding-bottom: 20px; 
      padding-right: 10px;}

h1 {text-align: center;
    font-size: 80px;
    font-family: serif;
    color: gold;
    background-color: purple; 
    padding-bottom: 10px;}

h2 {font-size: 25px;
    font-family: serif;
    background-color: #bcb8b8; 
    padding-left: 10px; 
    padding-top: 5px; 
    padding-bottom: 5px;}

h3 {font-size: 25px;
   font-family: serif;
   color: #06840f;}

table {border-collapse: collapse;
  margin-left: 60px;
  margin-bottom: 100px;
  margin-top: 40px;}

caption {font-size: 50px; 
        padding-bottom: 10px;}

th {border: 2px solid black;
    background-color: #f09a05;
    padding: 10px 20px 10px;}

td {border: 2px solid black;
    padding: 10px 20px 10px;
    background-color: white;
    color: black; font-size: 15px;}

#center1 {display: block; margin-left: auto; 
margin-right: auto; width: 50%; 
height: 150%;}

#center2 {display: block; margin-left: auto; 
margin-right: auto; width: 15%; height: 15%;}

iframe {margin-left: 10px;border-width: 15px; border-color: #5d5df8;}
textarea {height: 5em;
          width: 40em; 
          font-family: Arial; 
          padding-left: 8px; 
          padding-top: 8px; font-size: 20px;}
input {font-size: 20px;}
fieldset{background-color: #ddf8f4;}

#form1 {padding-right: 50%; padding-left: 5%;}
#form2 {padding-right: 50%; padding-left: 5%;}

button {background-color: #a6f7a7; font-size: 20px; border-radius: 20px;}

.reset {background-color: #f7a6a6;}

input:required {border: 4px solid green;}

legend {font-size: 35px; color: blue;}


ul {
  list-style-type: none;
  padding: 10px;
  overflow: hidden;
  background-color: gold; 
  border-bottom: 5px solid purple; 
  border-top: 5px solid purple;}

lo {float: left; padding-left: 90px;}

lo a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 63px 5px;
  text-decoration: none; 
  background-color: purple;
  border-radius: 20px;}

lo a:hover {background-color: #f59f0a;}

.active {background-color: #03a56a;}

li a:hover {background-color: #f4fb8e;}

